body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0fbfe3;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 75px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
    margin-right: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
}

#quotebackground{
    height: 150px;
    margin: 50px;
    background-image: url('QUOTEBG.jpg');
    background-size: 100% 100%;
    background-position: center;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.1);
}

h1.quote{
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    font-style: italic;
    font-size: 40px;
    color: aliceblue;
}

#name{
    text-align: right;
}
form.MIDBUTTONS{
    text-align: center;
}
form.MIDBUTTONS button{
    text-align: center;
}
div.video{
    text-align: center;
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.1);
    width: 50%; 
    margin: 0 25%; 
}
div.imagecontainer img{
    width: 100%;
    height: auto;
}

section {
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    line-height: 1.4;
}

button {
    background-color: #29c2e1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button a {
    color: #fff;
    text-decoration: none;
}
p.content{
    font-size: medium;
}
p.citation{
    text-align: right;
    font-style: italic;
}
.foot{
    text-align: center;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    line-height: 1.5;
}


